.navbar {
  position: sticky;
  top: 0;
  background: rgba(2, 6, 23, 0.9);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  z-index: 100;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar a {
  color: white;
  transition: 0.3s;
}

.navbar a:hover {
  color: #38bdf8;
}